/* Whole Container */
.wholeFooter{
    background-color: rgb(138, 161, 182);
    height: 6vw;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
}
.wholeFooter h2{
    text-align: center;
}
/* Container Im willing to put stuff in  */
.useableFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:80%;
}

/* the lower section that contains the links. */
.linkListRight{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.linkListLeft{
    width:100%;
    display:flex;
    justify-content: space-around;
}

/* Style footer links like navbar buttons */
.linkListLeft a,
.linkListRight a{
    background: transparent;
    border: none;
    color: black;
    text-decoration: none;
    padding: 0 0.6rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: 'Rationale', Georgia, serif;
}

/* underline bar on hover */
.linkListLeft a::after,
.linkListRight a::after{
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -6px;
    height: 3px;
    background: rgba(0,0,0,0.85);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 160ms ease, opacity 160ms ease;
    opacity: 0;
}
.linkListLeft a:hover::after,
.linkListRight a:hover::after{
    transform: scaleX(1);
    opacity: 1;
}
