.wholeFooter{
    background-color: rgb(138, 161, 182);
    display: grid;
    width:100vw;
}

.leftFooter{
    float:left;
    grid-row: 1;
    grid-column: 1;
}

.centerFooter{
    margin:auto;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    
}
.rightFooter{
    text-align: right;
    grid-row: 1;
    grid-column: 3;
}