.fullContainer{
    display: flex;
    flex-direction: column;
}

/* .wholeFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    
} */
main{
    padding: 1%;
    padding-bottom: 0px;
}

h1, h2, h3, .site-title { font-family: 'Rationale', Georgia, serif; }