.fullContainer{
    display: flex;
    flex-direction: column;
}

/* .wholeFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    
} */
main{
    padding-bottom: 0px;
}

h1, h2, h3, p, a, .site-title {font-family: Tahoma, Verdana, Segoe UI, sans-serif;}
p,  button{
    font-size: 1.2m;
}
a { 
    font-size: 1em;
}
h3{ 
    font-size: 1.6em;
}
h2{
    font-size: 1.8em;
}
h1{
    font-size: 2.7em;
}

.PageTitle{
    margin-top: 0px;
    padding-top: 10px;
}

.seperator{
    width:95%;
    height:2px;
    background-color: #6B4A7F;
    margin: 2em auto;
}

