.fullContainer{
    display: flex;
    flex-direction: column;
}

/* .wholeFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    
} */
main{
    padding: 1%;
    padding-bottom: 0px;
}

h1, h2, h3, p, a, .site-title { font-family: 'Rationale', Georgia, serif; }
p,  button{
    font-size: 1.4em;
}
a { 
    font-size: 1em;
}
h3{ 
    font-size: 1.8em;
}
h2{
    font-size: 2em;
}