.ActionBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ActionBar img {
    cursor: pointer;
    flex: 1;
    margin: 0 10px;
    width: 120%;
    height: 120%;
}
.slash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}